<!DOCTYPE html>
<!-- ng-app -->
<html ng-app = "store">
	<head>
		<title>Angular Sample </title>
    	<!-- Bootstrap -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
		<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

		<!--
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script> -->
		<script type="text/javascript" src="angular.min.js"></script> 
		<script type="text/javascript" src="app.js"></script> 
	</head>
	<body class="list-group">
		<h2 class="text-center">Angular Sample - XJ</h2>

		<!-- expressions, dynamic values -->
		<p> {{ 4 + 6 }} <p/>

		<!-- ng-controller -->
		<div class="container" ng-controller="StoreController as store"> 

			<!-- ng-repeat : iterate product in products -->
			<div class="list-group-item" ng-repeat="product in store.products">

				<!--hide content only when soldOut is true-->
				<div ng-hide="product.soldOut">

					<h1> {{product.name}} </h1>
					<h2 class="pull-right"> {{product.price | currency}} </h2>
					<p> {{product.description}} </p>
					
					<!--show images-->
					<ul class="list-inline thumbs">
						<li class="thumbnail" ng-repeat="image in product.images" ng-show="product.images.length">
							<img src="{{image.full}}">
						</li>				
					</ul>

					<!-- tabs -->
					<div>
						<section class="tab" ng-controller="PanelController as panel">
							<ul class="nav nav-pills">
								<!-- ng-click : two way data binding -->
								<!-- ng-class : bind active class -->
								<li ng-class="{ active:panel.isSelected(1) }">
									<a href="" ng-click="panel.selectTab(1)">Description</a>
								</li>
								<li ng-class="{ active:panel.isSelected(2) }">
									<a href="" ng-click="panel.selectTab(2)">Specifications</a>
								</li>
								<li ng-class="{ active:panel.isSelected(3) }">
									<a href="" ng-click="panel.selectTab(3)">Reviews</a>
								</li>			
							</ul>
						
							<!-- panels -->
							<div class="panel" ng-show="panel.isSelected(1)">
								<h4>Descriptions</h4>
								<p>{{product.description}}</p>					
							</div>	
							<div class="panel" ng-show="panel.isSelected(2)">
								<h4>Specifications</h4>
								<blockquote>None yet</blockquote>				
							</div>	

							<!-- show reviews  -->
							<div class="panel" ng-show="panel.isSelected(3)">
								<h4>Reviews</h4>
								<blockquote ng-repeat="review in product.reviews">
									<b>{{review.stars}} Stars</b>
									{{review.body}}
									<p><cite class="clearfix">-{{review.author}}</cite></p>
								</blockquote>				
							</div>

							<!-- review form  -->
								<!-- review controller-->
								<!-- ng-submit  -->
							<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
								<!-- live preview -->
								<blockquote>
									<b>{{reviewCtrl.review.stars}} Stars</b>
									{{reviewCtrl.review.body}}
									<p><cite class="clearfix">-{{reviewCtrl.review.author}}</cite></p>	
								</blockquote>

								<!-- input review -->
								<h4>Submit a review</h4>
								<!-- ng-model binds the form element value to the property: two waybinding -->
								<fieldset class="form-group">
									<select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" titlw="Stars">
										<option value="">Rate the Product</option>
									</select>	
								</fieldset>

								<fieldset class="form-group">
									<textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="write something..." title="Review"></textarea>		
								</fieldset>

								<fieldset class="form-group">
									<input ng-model="reviewCtrl.review.author" type="email" class="form-control" title="Email">
								</fieldset>

								<fieldset class="form-group">
									<input type="submit" class="btn btn-primary" value="Submit Review"/>
								</fieldset>
							</form>
						</section>	
					</div>

					<!--show button only when canPurchase is true-->
					<button class="pull-right" ng-show="product.canPurchase">Add to cart </button>		

					</br>

				</div>				
			</div>
		 </div>
	
	</body>
</html>